*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Pixelify Sans;
}

a{
    text-decoration: none;
    color: #292929;
}

header{
    padding: 30px 30px;
    background-color: #e65a41;
    color: #292929;
    display: flex;
    justify-content: space-around;
}

.background{
    position: fixed;
    top: -40%;
    left: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}

.home-page{
    display: flex;
    flex-direction: column-reverse;
}   

/* your Team */
#team_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none; 
}

#team_menu h2{
    margin-top: 15px;
    color: #292929;
}

#yourTeam{
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

#battleButton{
    background-color: #fff6a4;
    color: #252422;
    font-size: large;
    font-weight: bold;
    border: 1px #41414a solid;
    border-radius: 4px;
    padding: 8px 16px;
}

.pokemon-list{
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.pokemonCard{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 230px;
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    background-color: #73738338;
    align-items: center;
    justify-content: center;
}

.pokemon-types{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-evenly;
}

/* contextmenu */
#contextmenu{
    background-color: #CCC5B9;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    position: absolute;
    display: none;
}

#contextmenu * {
    margin: 8px 16px;
    padding: 8px 16px;
}

#contextmenu button{
    background-color: #EB5E28;
    color: #252422;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

/* Battle Page */

.team{
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}